<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>Choose Table</h4>
        <a ui-sref="menu.orderMaster" class="button button-assertive button-block ">Table 1</a>
        <a ui-sref="menu.orderMaster" class="button button-assertive button-block ">Table 2</a>
        <a ui-sref="menu.orderMaster" class="button button-assertive button-block  icon ">Table 4</a>
        <a ui-sref="menu.orderMaster" class="button button-assertive button-block ">Table 5</a>
        <a ui-sref="menu.orderMaster" class="button button-assertive button-block ">Table 6</a>
        <a ui-sref="menu.orderMaster" class="button button-assertive button-block ">Table 8</a>
    </ion-content>
</ion-view>