<ion-view title="Orders">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>Ordered Items</h4>
        <ion-list>
            <ion-checkbox name="chckbx">Chicken Soup</ion-checkbox>
            <ion-checkbox name="chckbx">Mutton Biriyani</ion-checkbox>
            <ion-checkbox name="chckbx">Fish Fry</ion-checkbox>
            <ion-checkbox name="chckbx">Prawns Roast</ion-checkbox>
            <ion-checkbox name="chckbx">BDF</ion-checkbox>
            <ion-checkbox name="chckbx">Lime Juice</ion-checkbox>
            <ion-checkbox name="chckbx">Vanilla Icecream</ion-checkbox>
        </ion-list>
        <button class="button button-assertive button-block ">Push to kitchen</button>
    </ion-content>
</ion-view>