<ion-view title="Order Master">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div class="button-bar">
            <a ui-sref="menu.specials" class="button button-assertive button-block ">Specials</a>
            <a ui-sref="menu.categories" class="button button-assertive button-block ">Category</a>
            <a ui-sref="menu.orders" class="button button-assertive button-block ">Orders</a>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>