<ion-view title="Order Master">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div class="button-bar">
            <a ui-sref="menu.specials" class="button button-light button-block button-small">Specials</a>
            <button class="button button-light button-block button-small">Categories</button>
            <button class="button button-light button-block button-small">Orders</button>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>